<% refresh = Admin::MetricsController::CHART_REFRESH_SECONDS %>

<%= render Admin::MetricSectionComponent.new(
  title: t("metrics.index.sections.payments_and_fulfillment")
) do |section| %>
  <% section.with_charts do %>
    <div class="grid grid-cols-2 gap-x-4 gap-y-8 auto-rows-min">
      <div>
        <%= line_chart api_metrics_stripe_checkout_intent_path(window:),
          title: Metrics::Name::STRIPE_CHECKOUT_INTENT, ytitle: "Intents", refresh: %>
      </div>
      <div>
        <%= line_chart api_metrics_stripe_one_time_payment_path(window:),
          title: Metrics::Name::STRIPE_ONE_TIME_PAYMENT, ytitle: "Payments", refresh: %>
      </div>
      <div>
        <%= pie_chart api_metrics_order_fulfillment_successful_path(window:),
          title: Metrics::Name::ORDER_FULFILLMENT_SUCEEDED %>
      </div>
    </div>
  <% end %>
<% end %>
