<% title(t("admin.metrics.index.tab_title")) %>

<%= render PageTitleComponent.new(
  title: t("admin.metrics.index.page_title"),
  subtitle: t("admin.metrics.index.page_subtitle")
) %>

<div id="metric-dashboards-container" class="w-full h-full">
  <%= render "admin/metrics/dashboards" %>
</div>
