@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-secondary-bg: #f4f4f4;
  --color-primary-txt: #121212;
  --color-secondary-txt: #888888;
  --color-hover: #eeeeee;

  --color-accent: #9244ff;
  --color-accent-light: #dcd6fb;
  --color-accent-dim: #873fed;
  --color-accent-text: #aa6eff;

  --color-error: #f44336;
  --color-success: #6bd177;
}

@layer {
  .dark {
    --color-background: #000000;
    --color-secondary-bg: #1a1a1a;
    --color-primary-txt: #f4f4f4;
    --color-secondary-txt: #888888;
    --color-hover: #2b2b2b;
  }
}

@layer utilities {
  @media (max-width: 600px) {
    .max-xs\:hidden {
      display: none;
    }
  }

  @media (max-width: 374px) {
    .max-2xs\:hidden {
      display: none;
    }
  }
}

/* Pagy styles */
@layer {
  .pagy {
    @apply flex space-x-1 font-semibold text-sm;
    a:not(.gap) {
      @apply block rounded px-3 py-1 bg-secondary-bg/60;
      &:hover {
        @apply bg-hover;
      }
      &:not([href]) { /* disabled links */
        @apply bg-secondary-bg/60 cursor-pointer;
      }
      &.current {
        @apply text-primary-txt bg-hover;
      }
    }
    label {
      @apply inline-block whitespace-nowrap bg-secondary-bg rounded-lg px-3 py-0.5;
      input {
        @apply bg-gray-100 border-none rounded-md;
      }
    }
  }

  .pagy.info {
    @apply font-light text-[0.7rem] italic;
  }
}

@layer {
  .modal-content {
    @apply relative rounded-lg shadow-sm bg-background dark:bg-secondary-bg divide-y-2 divide-secondary-txt/10;
  }

  .modal-content > .modal-header,
  .modal-content > .modal-body,
  .modal-content > .modal-footer {
    @apply px-4 py-2;
  }

  .flash {
    @apply px-3 py-2 font-medium rounded w-full border-1;
  }

  .flash-error {
    @apply border-error/20 bg-error/20 text-error;
  }

  .flash-success {
    @apply border-success/20 bg-success/10 text-success;
  }

  .page-title {
    @apply font-bold text-4xl mb-5;
  }

  .content-input-container {
    @apply flex flex-col gap-2 w-full text-nowrap;
  }

  .content-input {
    @apply
      w-full border-1 rounded px-2 text-xs py-2
    border-secondary-txt/30 focus:outline-none focus:ring-1 focus:ring-accent
    dark:bg-secondary-bg dark:border-none dark:focus:outline-none dark:focus:ring-0;
  }

  .auth-input {
    @apply w-full border-1 rounded border-secondary-txt/30 px-1 focus:outline-none focus:ring-1 focus:ring-accent;
  }

  .button {
    @apply flex justify-around items-center bg-accent hover:bg-accent-dim rounded cursor-pointer text-white;
  }

  .button-secondary {
    @apply flex justify-around items-center border-1 border-secondary-txt/50 bg-secondary-bg hover:bg-hover rounded cursor-pointer text-primary-txt;
  }

  .button-critical {
    @apply flex justify-around items-center bg-error hover:bg-error/50 rounded cursor-pointer text-white;
  }

  .avatar {
    @apply rounded-full;
  }

  .dropdown {
    @apply
      z-10 rounded-lg shadow-sm text-xs text-primary-txt bg-background divide-y
      divide-gray-100 dark:divide-hover dark:bg-secondary-bg;
  }

  .dropdown-item {
    @apply flex justify-start items-center flex-nowrap gap-2 px-4 py-2 w-full hover:bg-secondary-bg dark:hover:bg-hover dark:hover:text-white;
  }

  .nav-dropdown {
    @apply flex justify-center items-center flex-nowrap gap-2 p-0.5 pr-1 hover:bg-hover rounded-full cursor-pointer;
  }

  .nav-responsive {
    @apply max-sm:hidden;
  }

  .dropdown-link {
    @apply flex justify-start items-center gap-2 w-full flex-nowrap cursor-pointer;
  }

  .chip {
    @apply rounded-full bg-secondary-bg px-2 py-0.5 w-fit whitespace-nowrap;
  }

  .chip > button {
    @apply pl-3 rounded-full text-[0.5rem] hover:cursor-pointer;
  }

  .chip-accent {
    @apply rounded-full text-accent px-2 py-0.5 w-fit whitespace-nowrap bg-accent/15 dark:bg-accent/30 hover:bg-accent/20 dark:hover:bg-accent/35;
  }

  .file-upload-chip {
    @apply rounded-full px-3 py-1 text-xs cursor-pointer bg-accent/30 text-accent hover:bg-accent/50;
  }

  .char-count {
    @apply text-[0.6rem] text-secondary-txt;
  }

  .loader {
    @apply w-8 aspect-square rounded-full border-4 border-secondary-txt border-y-transparent;
  }

  /* Authentication */
  .auth-form {
    @apply
      flex flex-col justify-center items-stretch rounded min-w-80 px-6 py-4
      shadow-[0px_0px_8px_2px_rgba(0,_0,_0,_0.1)] dark:bg-secondary-bg;
  }

  .external-link {
    @apply text-[0.6rem] italic underline font-light text-accent-text;
  }

  /* Filter */
  .filter-checkbox-container {
    @apply z-10 max-h-60 overflow-y-auto bg-background dark:bg-secondary-bg rounded-lg shadow-sm;
  }

  .filter-range-container {
    @apply z-10 p-2 bg-background dark:bg-secondary-bg rounded-lg shadow-sm;
  }

  .filter-sort-container {
    @apply z-10 p-3 bg-background dark:bg-secondary-bg rounded-lg shadow-sm;
  }

  /* Track */
  .track-form label {
    @apply font-bold text-xs;
  }

  .track-form > section {
    @apply py-6;
  }

  .track-show-icon-only-btn {
    @apply flex justify-center items-center h-full aspect-square bg-accent/15 dark:bg-accent/30 rounded hover:bg-accent/20 dark:hover:bg-accent/35 cursor-pointer;
  }

  /* Profile */
  .profile-credential-container {
    @apply flex flex-col justify-start gap-0.5;
  }

  .profile-credential {
    @apply text-secondary-txt text-sm font-light;
  }

  .profile-credential-action-btn {
    @apply text-accent text-[0.8rem];
  }

  /* Comment */
  .interaction-icon {
    @apply w-3 h-3 aspect-square cursor-pointer;
  }
}

/* Admin tracks page layout */
@layer {
  .admin-track-list-container {
    display: grid;
    row-gap: 40px;
    column-gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1279px) {
    .admin-track-list-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1023px) {
    .admin-track-list-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 767px) {
    .admin-track-list-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 539px) {
    .admin-track-list-container {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}
