@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-secondary-bg: #f4f4f4;
  --color-primary-txt: #121212;
  --color-secondary-txt: #888888;

  --color-accent: #9244ff;
  --color-accent-light: #dcd6fb;
  --color-accent-dim: #873fed;
  --color-accent-text: #aa6eff;

  --color-error: #f44336;
}

@layer {
  .dark {
    --color-background: #000000;
    --color-secondary-bg: #1a1a1a;
    --color-primary-txt: #f4f4f4;
    --color-secondary-txt: #888888;
  }
}

@layer {
  .flash {
    @apply px-3 py-2 font-medium rounded w-full border-1;
  }

  .flash-error {
    @apply border-error/20 bg-error/20 text-error;
  }

  .content-input-container {
    @apply flex flex-col gap-1 w-full;
  }

  .content-input {
    @apply
      w-full border-1 rounded px-2 text-xs py-2 shadow-sm
    border-secondary-txt/30 focus:outline-none focus:ring-1 focus:ring-accent
    dark:bg-secondary-bg dark:border-none dark:focus:outline-none dark:focus:ring-0;
  }

  .auth-input {
    @apply w-full border-1 rounded border-secondary-txt/30 px-1 focus:outline-none focus:ring-1 focus:ring-accent;
  }

  .button {
    @apply flex justify-around items-center bg-accent hover:bg-accent-dim rounded cursor-pointer text-white;
  }

  .avatar {
    @apply rounded-full;
  }

  .dropdown {
    @apply
      z-10 rounded-lg shadow-sm text-xs text-primary-txt bg-background divide-y
      divide-gray-100 dark:divide-gray-800 dark:bg-secondary-bg;
  }

  .dropdown-item {
    @apply flex justify-start items-center gap-2 px-4 py-2 hover:bg-secondary-bg dark:hover:bg-gray-600 dark:hover:text-white;
  }

  .nav-dropdown {
    @apply flex justify-center items-center gap-2 p-0.5 pr-1 hover:bg-secondary-bg rounded-full cursor-pointer;
  }

  .chip {
    @apply rounded-full;
  }

  .file-upload-chip {
    @apply rounded-full px-3 py-1 text-xs cursor-pointer bg-accent/30 text-accent hover:bg-accent/50;
  }

  /* Authentication */
  .auth-form {
    @apply
      flex flex-col justify-center items-stretch rounded min-w-80 px-6 py-4
      shadow-[0px_0px_8px_2px_rgba(0,_0,_0,_0.1)] dark:bg-secondary-bg;
  }

  .external-link {
    @apply text-[0.6rem] italic underline font-light text-accent-text;
  }

  /* Track */
  .track-form label {
    @apply font-bold text-xs;
  }

  .track-form > section {
    @apply py-6;
  }
}
