<div class="flex justify-start items-stretch flex-nowrap gap-3 w-full mb-4">
  <span class="relative flex-1">
    <%= icon "search", class: "absolute w-4 aspect-square top-1/2 left-0 -translate-y-1/2 ml-2" %>
    <%= form.text_field query, autocomplete: "off", placeholder:,
      class: "w-full min-w-20 pl-9 py-2 text-xs border-1 border-secondary-txt/50 focus:outline-none focus:ring-1 focus:ring-accent rounded" %>
  </span>

  <%= submit_button %>
  <%= clear_button %>
</div>
