# Reqiured
SECRET_KEY_BASE=""  # and put in credential.yml.enc, name in lowercase - prod only
APP_HOST="localhost"
MAILER_SENDER="noreply@domain.com"
PRODUCER_EMAIL="producer@domain.com"

# Optional
PORT=3000  # development only
