# Reqiured
APP_HOST="localhost"
SMTP_ADDR="127.0.0.1"
SMTP_PORT=1025

MAILER_SENDER="noreply@domain.com"
ERROR_MAIL_SENDER="errors@domain.com"
PRODUCER_EMAIL="producer@domain.com"

# prod only
KAMAL_REGISTRY_PASSWORD="abcdefg"
DATABASE_HOST=172.17.0.1

# Optional
PORT=3000  # development only
