<% if tracks.any? %>
  <% tracks.each_with_index do |t, i| %>
    <%= render "tracks/track", track: t, index: i + 1 %>
  <% end %>
<% else %>
  <p class="text-center my-10"><%= t("track.no_tracks_found") %></p>
<% end %>
