<% content_for :title, "Tracks by category" %>

<div class="w-full">
  <%= render PageTitleComponent.new(
    title: t("track.explore.title"),
    subtitle: t("track.explore.subtitle")
  ) %>

  <%= link_to tracks_path, class: "text-xs font-light w-fit whitespace-nowrap" do %>
    <%= content_tag :span, t("track.explore.see_all"), class: "text-accent hover:underline" %>
  <% end %>

  <div class="w-full mt-8 flex flex-col justify-start items-stretch gap-12">
    <% @recommendations.each do |r| %>
      <%= render partial: "tracks/recommendation", locals: {
        rec: r[:recommendation].group,
        tracks: r[:tracks],
        see_more_link: tracks_path(q: { tags_name_in: r[:recommendation].tag_names })
      } %>
    <% end %>
  </div>
</div>
