<% content_for :title, "Tracks" %>

<div class="w-full">
  <h1 class="page-title">Tracks</h1>

  <%= render "tracks/filter", url: tracks_path %>

  <div id="tracks" class="min-w-full mt-8">
    <turbo-frame id="track-list">
      <%= render partial: "tracks/track_list", locals: { tracks: @tracks } %>
    </turbo-frame>
  </div>
</div>
