<% content_for :title, "Tracks" %>

<div class="w-full">
  <h1 class="page-title">Tracks</h1>

  <div id="tracks" class="min-w-full">
    <% if @tracks.any? %>
      <% @tracks.each_with_index do |track, i| %>
        <%= render "tracks/track", track: track, list_num: i %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tracks found.</p>
    <% end %>
  </div>
</div>
