<% content_for :title, "Tracks" %>

<div class="w-full">
  <h1 class="page-title">Tracks</h1>

  <%= link_to "Reload Tracks", tracks_path, data: { turbo_frame: "track-list" } %>
  <div id="tracks" class="min-w-full">
    <turbo-frame id="track-list">
      <%= render partial: "tracks/track_list", locals: { tracks: @tracks } %>
    </turbo-frame>
  </div>
</div>
