<% title(t("label.liked_tracks")) %>

<div class="w-full">
  <%= render PageTitleComponent.new(
    title: t("label.liked_tracks"),
    subtitle: t("profile.see_tracks_you_liked_here")
  ) %>

  <%= render Tracks::ListComponent.new(
    tracks: @liked_tracks,
    current_user:,
    options: { empty_message: t("profile.no_tracks_liked") }
  ) %>
</div>