<% avatar_size = "w-#{size} h-#{size} min-w-#{size} min-h-#{size} man-w-#{size} man-h-#{size} aspect-square" %>
<% icon_size = "w-#{size - 1} h-#{size - 1} aspect-square" %>

<% if user && user.profile_picture.attached? %>
  <%= image_tag url_for(user.profile_picture), class: "avatar #{avatar_size}" %>
<% else %>
  <div class="flex justify-center items-center <%= avatar_size %> bg-secondary-bg rounded-full">
    <%= icon "user", class: "avatar #{icon_size} text-secondary-txt"%>
  </div>
<% end %>
