<div id="<%= "track-recommendation-#{recommendation.group}" %>" class="p-4 rounded hover:bg-hover">
  <div class="w-40 h-40 rounded flex justify-center items-center bg-secondary-bg cursor-pointer">
    <%= link_to explore_tracks_path(anchor: "recs-#{recommendation.group}"), class: "w-full flex justify-center items-center" do %>
      <% if recommendation.display_image.attached? %>
        <%= image_tag url_for(recommendation.display_image), class: "w-full h-full rounded" %>
      <% else %>
        <%= icon "photo-scan", class: "w-1/4 h-1/4" %>
      <% end %>
    <% end %>
  </div>
  <div></div>
</div>
