<div class="flex gap-4 justify-end items-center rounded-b modal-footer">
  <button type="button" class="button-secondary px-2 py-1 bg-white">
    <%= cancel_label.empty? ? t("label.cancel") : cancel_label %>
  </button>

  <%= primary_action %>
  <%= secondary_action %>
</div>
