<%= content_tag :div, class: "modal-footer flex gap-4 justify-end items-center rounded-b #{size_class}",
  data: { action: "click->modal-manager#close" } do %>
  <button type="button" class="button-secondary px-2 py-1 bg-white">
    <%= cancel_label.empty? ? t("label.cancel") : cancel_label %>
  </button>
  <%= secondary_action %>
  <%= primary_action %>
<% end %>
