<%= content_tag :div, class: "modal-footer flex gap-4 justify-end items-center rounded-b #{size_class}" do %>
  <button type="button" class="button-secondary px-2 py-1 bg-white" data-action="click->modal-manager#close">
    <%= cancel_label.empty? ? t("label.cancel") : cancel_label %>
  </button>
  <%= primary_action %>
<% end %>
