<div class="w-full border-t border-hover bg-secondary-bg/80 py-1">
  <p class="w-full flex justify-center items-center text-[0.5rem]">
    <%= "Copyright © #{Time.now.year} prodethan | All rights reserved" %>
  </p>
</div>
