<div class="w-full border-t-2 rounded-2xl border-hover pt-8 pb-20 px-24 text-[0.6rem]">

  <div class="flex flex-row justify-between items-center">
    <%= render FooterLinkSectionComponent.new(
      section: t("footer.info.section"),
      links: [
        [ licensing_path, t("footer.info.licensing") ],
        [ contact_path, t("footer.info.contact") ]
      ]
    ) %>

    <%= render FooterLinkSectionComponent.new(
      section: t("footer.site.section"),
      links: [
        [ tracks_path, t("footer.site.tracks") ],
        [ explore_tracks_path, t("footer.site.track_groups") ]
      ]
    ) %>

    <%= render FooterLinkSectionComponent.new(
      section: t("footer.legal.section"),
      links: [
        [ terms_of_service_path, t("footer.legal.tos") ],
        [ privacy_path, t("footer.legal.privacy") ],
        [ cookies_path, t("footer.legal.cookies") ]
      ]
    ) %>
  </div>
</div>
