<turbo-frame id="toast">
  <% if flash.any? %>
    <%# # app/views/hearts/create.turbo_stream.erb %>
    <div>HIAHSIFHASFHLASFJHASJKFHKLASHFLKJASFHKASFH</div>
    <%= turbo_stream.replace "flash-messages" do %>
      <div id="flash-messages">
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<turbo-frame>
