<% content_for :title, t("contact.new.page_title") %>

<div class="flex justify-center items-start w-full h-full">
  <div class="mt-6">
    <%= content_tag :h1, t("contact.new.page_title"), class: "text-2xl font-bold" %>
  </div>
</div>
