<div data-controller="accordian">
  <button class="flex justify-between items-center px-2 py-2 cursor-pointer w-full hover:bg-hover rounded"
    data-accordian-target="summary" data-action="click->accordian#toggleExpand">
    <div class="flex-1"><%= summary %></div>
    <%= icon "chevron-right", class: "w-4 h-4 min-w-4 min-h-4 max-w-4 max-h-4", data: { accordian_target: "expandIcon" } %>
  </button>
  <div class="pl-8 my-2 max-h-0 overflow-hidden transform-[max-height] duration-200 ease-out" data-accordian-target="body">
    <%= body %>
  </div>
</div>
