<div data-controller="dropdown-manager" class="relative inline-block">
  <%= trigger_button %>

  <%= content_tag :div, id:, data:, class: "dropdown hidden transparent-scrollbar-background #{classes}" do %>
    <% sections.each do |section| %>
      <%= section %>
    <% end %>
  <% end %>
</div>
