<div class="fixed opacity-0 bg-[color-mix(in_srgb,var(--color-tooltip-bg)_95%,transparent)]
text-tooltip-text rounded w-fit h-fit p-1 text-xs z-100"
  data-controller="tooltip-manager" data-tooltip-manager-target="container"
  data-tooltip-manager-anchor-id-value="<%= anchor_id %>" data-tooltip-manager-position-value="<%= position %>">
  <%= body %>
</div>
