<% if tracks.any? %>
  <div class="flex justify-center items-center">
    <div class="admin-track-list-container">
      <% @tracks.each_with_index do |track, i| %>
        <% dropdown_position = (@tracks.count + 1) % (i + 1) == 0 ? "top-end" : "right-end" %>
        <%= render Admin::TrackComponent.new(track:, options: { dropdown_position: }) %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center items-center w-full mt-8">
    <%= render partial: "shared/pagy", locals: { pagy: @pagy } %>
  </div>
<% else %>
  <p class="text-center my-10 font-light italic text-secondary-txt">
    <%= t("admin.tracks.no_tracks_found") %>
  </p>
<% end %>
