<div class="flex justify-center items-center w-full flex-1">
  <label
    for=<%= generate_id(file_for) %>
    class="
      flex flex-col justify-center items-center rounded w-full h-full cursor-pointer py-4 shadow-sm
      <%= track_upload_style(attachment) %>
    ">
    <p><%= t("admin.track.upload_file", file_for: file_for) %></p>
    <%= form.file_field field, id: generate_id(file_for), class: "hidden",
      data: { upload_target: "upload", action: "change->upload#track_upload" } %>
  </label>
</div>