<% if tracks.any? %>
  <div class="grid [grid-template-columns:repeat(auto-fit,minmax(10rem,1fr))] gap-x-2 gap-y-8">
    <% @tracks.each do |track| %>
      <%= render Admin::TrackComponent.new(track:) %>
    <% end %>
  </div>
  <div class="flex justify-center items-center w-full mt-8">
    <%== pagy_nav(@pagy) %>
  </div>
<% else %>
  <p class="text-center my-10">No tracks found.</p>
<% end %>
