<% title("Create License") %>

<% if @contract_type.blank? %>
  <div class="w-full h-full flex justify-center items-center">
    <p class="text-secondary-txt italic font-light"><%= t("contracts.not_available") %></p>
  </div>
<% else %>
  <%= render "contracts/tracks/form", license: @license, contract_type: @contract_type %>
<% end %>
