<div class="flex flex-col justify-start items-center gap-6 w-full py-3">
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <%= render Comments::CommentComponent.new(comment:, current_user:) %>
    <% end %>
  <% else %>
    <p class="w-full flex justify-center items-center text-secondary-txt italic font-light py-2 text-xs">
      <%= t("comment.no_comments") %>
    </p>
  <% end %>
</div>
