/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
  /* font-family: 'Lato', 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans'; */
  text-transform: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.transparent-scrollbar-background::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar-background {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Hide increment and decrement arrows for number inputs */
.hide-incr-decr-arrows::-webkit-inner-spin-button,
.hide-incr-decr-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-incr-decr-arrows {
  -moz-appearance: textfield; /* For Firefox */
}

/* Animations */
.slide-up-fade-in {
  animation: slideUpFadeIn 200ms ease-out forwards;
}

@keyframes slideUpFadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 100ms ease-in forwards;
}

.fade-in {
  animation: fadeOut 100ms ease-in reverse forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.loader {
  animation: loadSpin1 1s infinite;
}

@keyframes loadSpin1 {
  to{
    transform: rotate(.5turn)
  }
}

.notify-color-change-and-shake {
  animation: notifyColorChangeAndShake 400ms ease;
}

@keyframes notifyColorChangeAndShake {
  0% {
    color: var(currentColor);
    transform: translateX(0);
  }
  20% {
    color: var(--color-accent);
    transform: translateX(-1px);
  }
  40% {
    color: var(--color-accent);
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    color: var(currentColor);
    transform: translateX(0);
  }
}
