<div id="audio-queue" class="hidden rounded bg-secondary-bg border-1 border-background p-4 text-xs"
  data-audio-player-target="queueContainer">
  <div data-audio-queue-target="list"></div>
  <%= render "audio/queue_track" %>
</div>
