<template id="queue-track-template">
  <div class="queue-track flex items-center gap-3 px-3 py-2 hover:bg-hover cursor-pointer" data-queue-track>
    <div class="flex-1 truncate">
      <img src="" alt="Track Cover Photo" data-queue-track-image>
      <div class="text-sm font-medium truncate" data-queue-track-title></div>
      <div class="text-xs text-muted truncate" data-queue-track-metadata></div>
    </div>
  </div>
</template>
