<div>
  <p>Hey <%= @free_download.customer_name %>,</p>
  <br>
  <p>Here is your download for track <%= @track.title %>. If you make something with it, feel free to share!</p>
  <%= link_to "Download Track", users_purchases_url, target: "_blank", rel: "noopener" %>
</div>
