<nav class="h-full w-52 min-w-52 max-sm:w-fit max-sm:min-w-fit bg-background border-r-2 border-r-secondary-bg
  px-4 py-4 max-sm:px-2 max-sm:py-2 rounded">
  <ul class="flex flex-col max-sm:gap-1">
    <% [
      { url: admin_dashboard_path, text: t("sidebar.admin.dashboard"), icon: "layout-dashboard" },
      { url: admin_tracks_path, text: t("sidebar.admin.tracks"), icon: "music" },
      { url: admin_licenses_path, text: t("sidebar.admin.licenses"), icon: "file" },
      { url: admin_transactions_path, text: t("sidebar.admin.transactions"), icon: "currency-dollar" },
      { url: admin_recommendations_path, text: t("sidebar.admin.recommendations"), icon: "star" },
    ].each do |data| %>
      <li class="admin-sidebar-item">
        <%= render Ui::Dropdown::LinkComponent.new(
          url: data[:url],
          text: data[:text],
          icon: data[:icon],
          text_classes: "max-sm:hidden",
          icon_size: 4
        ) %>
      </li>
    <% end %>
  </ul>
</nav>
