<% if tracks.any? %>
  <% tracks.each do |track| %>
    <%= render Tracks::TrackComponent.new(track:, current_user:) %>
  <% end %>
<% elsif render_message_if_empty %>
  <p id="no-tracks-message" class="text-center my-10"><%= t("track.no_tracks_found") %></p>
<% end %>
